<h5 class="text-success">Detalle Producto</h5>

<form
  class="w-50 d-flex flex-column mx-auto gap-2"
  [formGroup]="formProducto"
  (ngSubmit)="agregarProducto()"
>
  <div class="d-flex justify-content-between align-items-center gap-2">
    <input
      class="form-control w-75"
      type="text"
      autocomplete="off"
      formControlName="descripcion"
      placeholder="Descripcion del producto"
    />

    <input
      class="form-control w-25"
      type="number"
      formControlName="precio"
      placeholder="Precio"
    />
  </div>

  <div class="d-flex justify-content-center gap-2">
    <button class="btn btn-primary" type="submit">Guardar Producto</button>

    @if (llaveProducto())
    {
      <button
        class="btn btn-warnings"
        type="button"
        (click)="eliminarProducto()"
      >
        Eliminar Producto
      </button>
    }

    <button class="btn btn-danger" type="button" (click)="cancelar()">
      Cancelar
    </button>
  </div>
</form>
