<div class="row justify-content-center mt-4">
  <div class="col-md-8">
    <form
      class="row g-2"
      [formGroup]="formBudget"
      (ngSubmit)="agregarTransaccion()"
    >
      <div class="col-auto">
        <select
          class="form-select bg-success"
          [class.bg-danger]="formBudget.value.tipo === 'egreso'"
          formControlName="tipo"
        >
          <option value="ingreso">+</option>
          <option value="egreso">-</option>
        </select>
      </div>

      <div class="col">
        <input
          class="form-control border-success"
          type="text"
          [class.border-danger]="formBudget.value.tipo === 'egreso'"
          formControlName="descripcion"
          placeholder="Descripción"
        />
      </div>

      <div class="col-auto">
        <input
          class="form-control border-success"
          type="number"
          [class.border-danger]="formBudget.value.tipo === 'egreso'"
          formControlName="monto"
          placeholder="Valor"
        />
      </div>

      <div class="col-auto">
        <button
          class="btn btn-success"
          type="submit"
          [class.btn-danger]="formBudget.value.tipo === 'egreso'"
        >
          <i class="bi bi-check-circle"></i>
        </button>
      </div>
    </form>
  </div>
</div>
