h1 {
  text-align: center;
  color: crimson;
}
div.relativo {
  width: 300px;
  height: 200px;
  position: relative;
  top: 10px;
  left: 100px;
  border: 3px solid cornflowerblue;
}
div.absoluto {
  /* position: block; */
  /* position: relative; */
  /* position: fixed; */
  position: absolute;
  bottom: 20px;
  right: 10px;
  /* width: 50%; */
  /* max-width: 50%; */
  /* margin: auto; */
  border: 3px solid firebrick;
}
.sticky {
  position: sticky;
  top: 0;
  border: 3px solid firebrick;
}
.estatico {
  position: static;
  top: 10px;
  padding: 15px;
  border: 3px solid greenyellow;
  background-color: whitesmoke;
}
.relativo2 {
  position: relative;
  top: 10px;
  left: 10px;
  padding: 15px;
  border: 3px solid blueviolet;
  background-color: whitesmoke;
}
.absoluto2{
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 120px;
  border: 3px solid cornflowerblue;
  background-color: whitesmoke;
  z-index: -1;
}